@tailwind base;
@tailwind components;

.contain-dom {
  width: 90%;
  max-width: 1440px;
  min-width: 320px;
}

.information-card {
  width: 90%;
  max-width: 600px;
  height: 90%;
  max-height: 300px;
}

.height-section {
  height: 100vh;
  max-height: 900px;
  min-height: 384px;
}

.nav-menu {
  @apply py-2 mx-4 border-t border-b md:border-0 md:ml-4 md:p-0 hover:text-blue-sky;
}

@tailwind utilities;
