@tailwind base;
@tailwind components;

.contain-dom {
  width: 90%;
  max-width: 1440px;
  min-width: 320px;
}

.section-height {
  height: 600px;
}

.card {
  height: 80px;
  width: 80px;
}

.nav-menu {
  @apply py-2 mx-4 border-t border-b md:border-0 md:ml-4 md:p-0 hover:text-blue-sky;
}

@tailwind utilities;
